<%= form_for @wiki do |w| %>
  <div class="form-group">
    <%= w.label :title %>
    <%= w.text_field :title, class: 'form-control', placeholder: "Enter wiki title" %>
  </div>
  <div class="form-group">
    <%= w.label :body %>
    <%= w.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter wiki description" %>
  </div>
  <div class="form-group">
    <%= w.label :private, class: 'checkbox' do %>
      <%= w.check_box :private %> Private wiki
    <% end %>
  </div>
  <%= w.submit "Save", class: 'btn btn-success' %>
<% end %>
