<%= form_for edit_user_registration_path(@user) do |u| %>
  <div class="form-group">
    <%= u.label :email %>
    <%= u.text_field :email, class: 'form-control', placeholder: "Enter Email" %>
  </div>
  <div class="form-group">
    <%= u.label :encrypted_password %>
    <%= u.text_field :encrypted_password, class: 'form-control', placeholder: "Enter password" %>
  </div>

  <%= u.submit "Save", class: 'btn btn-success' %>
<% end %>
